<p>stepper horizontal works!</p>

<mat-horizontal-stepper linear>
    <mat-step label="Shipping address" completed ="true">
        <p>Shiping address details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>     
    </mat-step>

    <mat-step label="Billing address" completed ="true">
        <p>Billing address details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>     
    </mat-step>
    <mat-step label="Place Order"  completed ="true ">
        <p>Order details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>     
    </mat-step>

</mat-horizontal-stepper>


<p>stepper vertical works!</p>

<mat-vertical-stepper linear>
    <mat-step label="Shipping address" completed ="true">
        <p>Shiping address details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>     
    </mat-step>

    <mat-step label="Billing address" completed ="true">
        <p>Billing address details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>     
    </mat-step>
    <mat-step label="Place Order"  completed ="true ">
        <p>Order details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>     
    </mat-step>

</mat-vertical-stepper>