<div class="container-fluid" style="margin-left: 10px;">   
    <div class="row">
        <div class="col-md-12">

            <p>Welcome to Material Application!!!</p>


            <button mat-raised-button color="primary" [routerLink]="['/typography']">typography</button>
            <button mat-raised-button color="primary" [routerLink]="['/button']">Buttons</button>
            <button mat-raised-button color="primary" [routerLink]="['/toggleButton']">Button Toggle</button>
            <button mat-raised-button color="primary" [routerLink]="['/icons']">Icons</button>

            <button mat-raised-button color="primary" [routerLink]="['/notifications']">Notifications</button>
            <button mat-raised-button color="primary" [routerLink]="['/progressSpinner']">Progress Spinner</button>

            <button mat-raised-button color="primary" [routerLink]="['/navbar']">Navbar</button>
            <button mat-raised-button color="primary" [routerLink]="['/sidenavbar']">Side Navbar</button>
            <button mat-raised-button color="primary" [routerLink]="['/menus']"> Menus </button>

            <button mat-raised-button color="primary" [routerLink]="['/lists']"> Lists </button>

            <button mat-raised-button color="primary" [routerLink]="['/gridList']"> Grid Lists </button>

            <button mat-raised-button color="primary" [routerLink]="['/expansion']"> Expansion </button>

            <button mat-raised-button color="primary" [routerLink]="['/cards']" style="margin-top: 20px;"> Cards </button>

            <button mat-raised-button color="primary" [routerLink]="['/tabs']" style="margin-top: 20px;"> Tabs </button>

            <button mat-raised-button color="primary" [routerLink]="['/stepper']" style="margin-top: 20px;"> Stepper </button>

            <button mat-raised-button color="primary" [routerLink]="['/input']" style="margin-top: 20px;"> Input </button>
            
            <button mat-raised-button color="primary" [routerLink]="['/autoComplete']" style="margin-top: 20px;"> AutoComplete </button>

            <button mat-raised-button color="primary" [routerLink]="['/checkbox']" style="margin-top: 20px;"> CheckBox </button>

            <button mat-raised-button color="primary" [routerLink]="['/dialog']" style="margin-top: 20px;"> Dialog </button>
            <button mat-raised-button color="primary" [routerLink]="['/table']" style="margin-top: 20px;"> Table </button>
            <button mat-raised-button color="primary" [routerLink]="['/reactive']" style="margin-top: 20px;"> Reactive </button>
            <button mat-raised-button color="primary" [routerLink]="['/asyncAwait']" style="margin-top: 20px;"> asyncAwait </button>
            <button mat-raised-button color="primary" [routerLink]="['/calculator']" style="margin-top: 20px;"> Calculator </button>
            <a [routerLink]="['/user/view']" >user</a><br>

            <a [routerLink]="['/customer/view']" >Customer</a>
            
        </div>
    </div>
</div>
<router-outlet></router-outlet>