div.d-flex.justify-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* optional, sets the container to full height of the viewport */
  }
  
  form {
    margin: auto;
  }