<p>lists works!</p>


<mat-list role="list">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>


    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Home  </h3>
        <p matLine>Line 1</p>
    </mat-list-item>
<mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Folder 2</h3>
        <p matLine>Line 2   </p>
    </mat-list-item>
</mat-list>